<%- include('./partials/header') %>

    <h1>At foo bar</h1>
    <h2><%= food.name %></h2>
    <img src="<%= food.image.replace('.jpg', '.png') %>" alt="">
    <h3>Price: <%= food.price %></h3>
    <a href="/">Return to Menu</a>
    
<%- include('./partials/footer') %>